/* Style inputs and select elements */
input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=text]:hover {
    border: 1px solid #debe67;
}

input[type=text]:focus {
    border: 1px solid #debe67;
}

select:hover {
    border: 1px solid #debe67;
}
  
/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
/* Style the submit button */
input[type=submit] {
    background-color: #debe67;
    color: white;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
/* Style the container */
.container {
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    border-color: #debe67;
    background-color: #f2f2f2;
    padding: 20px;
}
  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #debe67;
}

.row-img {
    background-color: #debe67;
    border-radius: 10px;
}

.row-img:after {
    content: "";
    display: table;
    clear: both;
}

.img-itau {
    max-width: 50px;
    width: auto;
    float: left;
    margin: 10px;
}

.img-gama {
    max-width: 100px;
    width: auto;
    float: right;
    margin: 10px;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}